body {
    background-color: #03fcb7;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

button {
    font-family: 'Roboto Slab', serif;
    border-radius: 50%;
}

.copy-container {
    background-color: lightblue;
    width: max-content;
}

.originals {
    border-style: solid;
}

.copies {
    border-style: solid;
}